# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
*.env
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
env/
venv/
ENV/
venv.bak/
ENV.bak/
*.egg-info/
*.egg
build/
dist/
*.spec

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Test Reports
test-*.md
test-*.json 